<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cty.nopersonfinally.mapper.AdminUserMapper">
    
    <select id="selectByPhone" resultType="com.cty.nopersonfinally.pojo.entity.AdminUser">
        SELECT * FROM sys_admin WHERE phone = #{phone} LIMIT 1
    </select>
    
    <select id="selectByUsername" resultType="com.cty.nopersonfinally.pojo.entity.AdminUser">
        SELECT * FROM sys_admin WHERE username = #{username} LIMIT 1
    </select>
</mapper>